@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111111;
}


.admin_form{
    width: 310px;
    height: 320px;
    background-color: #0e1c21;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key{
    width: 100%;
    height: fit-content;
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa-key{
    font-size: 4rem;
    color: #eb2c33;
}
.admin_login{
    color: #eb2c33;
}

.input_div{
    width: 90%;
    height: 45px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-top: 18px;
}
.input_label{
    color: rgb(230, 230, 230);
    font-size: 0.9rem;
    font-weight: 300;
}
.admin_inputs{
    outline: 0;
    border: 0;
    border-bottom: 1px solid #eb2c33;
    background-color: transparent;
    color: white;
}


.admin_login_button{
    width: 90%;
    height: fit-content;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 18px;
}

.admin_btn{
    background-color: #eb2c33;
    outline: 0;
    border: 1px solid #eb2c33;
    color: white;
    padding: 7px 40px 7px 40px;
}
.admin_btn:focus{
    box-shadow: 0px 0px 5px 2px rgb(185, 185, 185);
}

