.cart-items-section {
    margin-top: 110px;
    margin-bottom: 315px;
    width: 100%;
    height: fit-content;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
}


.table {
    width: 75%;
    height: fit-content;
}

td {
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-weight: 600;
}

th {
    color: black;
}

.remove_button {
    border: 0;
    color: #eb2c33;
    background-color: transparent;
}

.remove_button:hover {
    color: black;
    transition: all ease-in 0.3s;
}

.iquantity {
    border: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}







.checkout-div {
    width: 22%;
    height: 410px;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 10px 2px black;
    border-radius: 10px;
}

.checkout-heading-div {
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-top: 5px;
}

.checkout-heading {
    font-size: 2rem;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
}

.checkout-inputs {
    width: 90%;
    height: 30px;
    margin-top: 5px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #eb2c33;
}

.checkout-inputs[type=number]::-webkit-inner-spin-button,
.checkout-inputs[type=number]::-webkit-outer-spin-button {

    opacity: 0;

}


.radio-boxes-checkout {
    width: 90%;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.radios-checkout {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Chrome, Safari, Opera */
    transform: scale(1.2);
    accent-color: #eb2c33;
}

.radio-labels-checkout {
    font-size: 0.9rem;
}




.total-div {
    width: 90%;
    height: fit-content;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}





#delivery-checkout {
    text-align: left;
    font-size: 0.8rem;
    width: fit-content;
}

.delivery-charges-div {
    width: 100%;
    /* border: 1px solid red; */
    text-align: left;
}
.total_without_delivery_cost{
    outline: 0;
    border: 0;
    width: 70%;
    font-weight: 600;
    color: black;
}
.total_delivery_cost{
    outline: 0;
    border: 0;
    font-weight: 600;
    color: black;
}


.checkout_btn_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.checkout_btn {
    padding: 0px 35px 0px 35px;
    background-color: #eb2c33;
    border: 1.5px solid #eb2c33;
    color: white;
    outline: 0;
}

.checkout_btn:hover {
    background-color: white;
    color: #eb2c33;
    border: 1.5px solid #eb2c33;
    transition: all 0.4s ease-in;
}

@media only screen and (max-width:1250px) {
    .cart-items-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .table {
        width: 90%;
        height: fit-content;
    }

    .checkout-div {
        width: 30%;
        margin-top: 30px;
    }


}

@media only screen and (max-width:925px) {
    .checkout-div {
        width: 40%;
    }
}

@media only screen and (max-width:800px) {
    .checkout-div {
        width: 50%;
    }

    td {
        font-size: 0.9rem;
    }

    th {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width:675px) {
    .checkout-div {
        width: 60%;
    }

    td {
        font-size: 0.85rem;
    }

    th {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width:635px) {
    .checkout-div {
        width: 60%;
    }

    .table {
        width: 100%;
    }

}

@media only screen and (max-width:574px) {
    .checkout-div {
        width: 63%;
    }

    td {
        font-size: 0.8rem;
    }

    th {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width:492px) {
    .checkout-div {
        width: 70%;
    }

    td {
        font-size: 0.75rem;
    }

    th {
        font-size: 0.75rem;
    }

}

@media only screen and (max-width:430px) {

    td {
        font-size: 11px;
    }

    th {
        font-size: 11px;
    }

}

@media only screen and (max-width:430px) {

    td {
        font-size: 10px;
    }

    th {
        font-size: 10px;
    }

}