

.how-to-order {
    width: 92%;
    height: fit-content;
    /* border: 1px solid red; */
    margin-top: 110px;
}

.how-to-order-header-main {
    font-size: 2.5vw;
}


.how-to-order-DIV{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 1px solid green; */
    margin-top: 20px;
}

.how-to-order-headers {
    font-size: 2vw;
    line-height: 50px;
}

.how-to-order-paras{
    font-size: 1vw;
}

.ORDER {
    text-align: center;
    font-size: 2.5vw;
    font-weight: 800;
}


/* HOW TO ORDER ⬆️⬆️⬆️⬆️⬆️⬆️⬆️⬆️⬆️ */



.PAYMENT-METHOD {
    width: 92%;
    height: 90vh;
    /* border: 1px solid red; */
    margin-top: 110px;
    font-size: 2rem;
}
@media only screen and (max-width:930px) {
    .PAYMENT-METHOD {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:555px) {
    .PAYMENT-METHOD {
        font-size: 1rem;
    }
}


/*PAYMENT-METHOD ⬆️⬆️⬆️⬆️⬆️⬆️⬆️⬆️⬆️ */



.SHIPPING-DELIVERIES-section {
    width: 92%;
    height: fit-content;
    /* border: 1px solid red; */
    margin-top: 110px;
}

.ship-del-header-main {
    font-size: 2.5rem;
}


.SHIPMENT-div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 1px solid green; */
    margin-top: 20px;
}

.ship-del-headers {
    font-size: 2rem;
    line-height: 50px;
}

.ship-del-paras {
    font-size: 1rem;
}

.SHIPMENT,
.DELEVERIES {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

@media only screen and (max-width:800px) {
    
    .ship-del-header-main {
        font-size: 2rem;
    }
    .ship-del-headers {
        font-size: 1.6rem;
    }
    
    .ship-del-paras {
        font-size: 0.9rem;
    }
    
    .SHIPMENT,
    .DELEVERIES {

        font-size: 2rem;
    }
}
@media only screen and (max-width:440px) {
    
    .ship-del-header-main {
        font-size: 1.7rem;
    }
    .ship-del-headers {
        font-size: 1.2rem;
    }
    
    .ship-del-paras {
        font-size: 0.81rem;
    }
    
    .SHIPMENT,
    .DELEVERIES {
        font-size: 1.7rem;
    }
}
/*SHIPPING-DELIVERIES ⬆️⬆️⬆️⬆️⬆️⬆️⬆️⬆️⬆️ */



.EXCHANGE_RETURNS {
    width: 92%;
    height: fit-content;
    /* border: 1px solid red; */
    margin-top: 110px;
}

.EXCHANGE_RETURNS-header-main {
    font-size: 2.5rem;
}

.EXCHANGE-DIV {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.EX-RE-headers {
    font-size: 2rem;
    line-height: 50px;
}
.EX-RE-paras {
    font-size: 1.1rem;
}

.Refund,
.DELEVERIES {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
@media only screen and (max-width:768px) {
    .EXCHANGE_RETURNS-header-main {
        font-size: 2rem;
    }
    .EX-RE-headers {
        font-size: 1.7rem;
    }
    .EX-RE-paras {
        font-size: 1rem;
    }
    .Refund,
    .DELEVERIES {
        
        font-size: 2rem;
    }
}
/*EXCHANGE_RETURNS ⬆️⬆️⬆️⬆️⬆️⬆️⬆️⬆️⬆️ */




.TERMS_CONDITIONS {
    width: 92%;
    height: fit-content;
    /* border: 1px solid red; */
    margin-top: 110px;
}

.TERMS_CONDITIONS-header-main {
    font-size: 2.5rem;

}

.TERMS-CONDITIONS-DIV {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.TE-CO-headers{
    font-size: 2rem;
    line-height: 50px;
}
.TE-CO-paras {
    font-size: 1rem;
}

.TERMS,
.CONDITIONS {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
@media only screen and (max-width:768px) {
    .TERMS_CONDITIONS-header-main {
        font-size: 2rem;
    
    }
    .TE-CO-headers{
        font-size: 1.7rem;
    }
    .TE-CO-paras {
        font-size: 1rem;
    }
    
    .TERMS,
    .CONDITIONS {
        font-size: 2rem;
    }
}
@media only screen and (max-width:426px) {
    .TERMS_CONDITIONS-header-main {
        font-size: 1.7rem;
    
    }
    .TE-CO-headers{
        font-size: 1.3rem;
    }
    .TE-CO-paras {
        font-size: 0.9rem;
    }
    
    .TERMS,
    .CONDITIONS {
        font-size: 1.7rem;
    }
}

/*TERMS_CONDITIONS ⬆️⬆️⬆️⬆️⬆️⬆️⬆️⬆️⬆️ */



.PRIVACY_POLICY {
    width: 92%;
    height: fit-content;
    /* border: 1px solid red; */
    margin-top: 110px;
}

.PRIVACY_POLICY-header-main {
    font-size: 2.5rem;

}

.PRIVACY_POLICY-DIV {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.PR-PO-headers{
    font-size: 2rem;
    line-height: 50px;
}
.PR-PO-paras {
    font-size: 1rem;
}

.POLICY {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

@media only screen and (max-width:829px) {
    .PRIVACY_POLICY-header-main {
        font-size: 2rem;  
    }  
    .PR-PO-headers{
        font-size: 1.6rem;
        line-height: 50px;
    }
    .PR-PO-paras {
        font-size: 0.9rem;
    }
    
    .POLICY {
        font-size: 2rem;
    }
}












