
.product-section-main{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 92%;
   height: fit-content;
    /* border: 1px solid rgb(4, 0, 255); */
    margin-top: 110px;
}

.product-section-image{
    width: 50%;
    height: 630px;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.prod-img-div{
    width: 70%;
    height: 80%;
    /* border: 1px solid red; */
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shirt-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.shirt-img:hover{
   transform: scale(1.3);
   transition: all 0.3s ease-in;
}

.product-info-section{
    width: 50%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}


.product-heading{
    width: 100%;
    height: 80px;
    font-size: 1.5rem;
    letter-spacing: 4px;
    /* border: 1px solid red; */
}

.product-price-div{
    display: flex;
  
}

.product-price{
    font-weight: 400;
    font-size: 1rem;
    color: #eb2c33;
}
.product-price-discount{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.582);
}


.product-info-div{
    /* border: 1px solid red; */
    margin-top: 14px;
    color: rgba(0, 0, 0, 0.712);
    height: fit-content;
    font-size: 0.85rem;
}

.add-to-cart-form{
    width: 100%;
    height: 140px;
    /* border: 1px solid green; */
    margin-top: 20px;
     
}

.radio-boxes{
    width: 100%;
    display: flex;
}
.radios-divs{
    /* border: 1px solid red; */
    margin-left: 10px;
}
.radio-labels{
    font-weight: 600;
    /* margin-left: 10px; */
}
.radios{
    margin-left: 5px;
}
.radios{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
    accent-color: #eb2c33;
}


.get-in-days-div{
    color: rgba(14, 13, 13, 0.664);
    margin-top: 10px;
}
.product-cart-btn-div{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    margin-top: 10px;
}

.product-cart-btn {
    padding: 10px 105px 10px 105px;
    background-color: #eb2c33;
    border: 1.5px solid #eb2c33;
    color: white;
    outline: 0;
    margin-top: 10px;
}

.product-cart-btn:hover {
    background-color: white;
    color: #eb2c33;
    /* border: 1.5px solid #eb2c33; */
    transition: all 0.4s ease-in;
}
#client_side_textarea{
    /* width: 600px;
    height: 200px; */
    /* height: max-content; */
    overflow: hidden;
    resize: none;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    /* border: 1px solid blue; */
    text-align:left;
    margin: 0;
    padding: 0;
}

.note-fabric{
    width: 90%;
    height: fit-content;
    margin-top: 30px;
    /* border: 1px solid green; */
}

.note-heading{
    font-weight: 600;
}
.note-detail{
    color: #7e7e7e;
    font-weight: 300;
}
.note-anchor{
    color: black;
    text-decoration-color: black;
}
.note-anchor:hover{
    color: #eb2c33;
}






/* product ⬆️⬆️⬆️⬆️ */














.disclaimer{
    width: 100%;
    height: 200px;
    background-color: #f3f3f3;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disclaimer_boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 32%;
    height: 100%;
}


#discliamer-icon{
    font-size: 30px;
}
.disclaimer-h{
    font-size: 20px;
}
.disclaimer-p{
    font-size: 13px;
    color:#8b8b8b ;
    text-align: center;
}


@media only screen and (max-width:814px){
    .disclaimer{
        justify-content: space-around;
    }
    
}

@media only screen and (max-width:754px){
    .disclaimer{
        justify-content: space-between;
    }
    .disclaimer_boxes{
        width: 33%;
    }
    #discliamer-icon{
        font-size: 24px;
    }
    .disclaimer-h{
        font-size: 15px;
    }
    .disclaimer-p{
        font-size: 11.8px;
    }
    
}

@media only screen and (max-width:600px){
   
    .disclaimer{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .disclaimer_boxes{
        width: 80%;
    }
}

/* <!-- disclaimer ⬆️⬆️⬆️⬆️⬆️ --> */



